/*css  reset 重置默认样式 */
*,
::before,
::after{
    padding: 0;
    margin: 0;
    /*设置所有的盒子都是以边框开始计算  使用的都流式布局*/
    -webkit-box-sizing: border-box;/*要求兼容主流浏览器 webkit内核的必须*/
    box-sizing: border-box;
    /*清除移动端默认的点击高亮效果*/
    -webkit-tap-highlight-color: transparent;
}

body{
    font-size: 14px;
    font-family: 'microsoft YaHei',sans-serif;
    color: #333;
}

ul,ol{
    list-style: none;
}
h1,h2,h3,h4,h5{
    font-size: 100%;
    font-weight: normal;
}
a{
    color: #333;
    text-decoration: none;
}
a:hover{
    color: #333;
}

input,textarea{
    outline: none;
    border: none;
    resize: none;
    /*清除移动端默认的输入框的默认样式，比如内阴影、立体感、等等*/
    -webkit-appearance: none;
}

/*css common 公用*/
.f_left{
    float: left;
}
.f_right{
    float: right;
}
/*清楚浮动*/
.clearfix::before,
.clearfix::after{
    content: "";
    display: block;
    visibility: hidden;
    line-height: 0;
    height: 0;
    clear: both;
}
.m_t10{
    margin-top: 10px;
}
.m_b10{
    margin-bottom: 10px;
}
.m_l10{
    margin-left:  10px;
}
.m_r10{
    margin-right: 10px;
}
.w_100{
    width: 100%;
    display: block;
}
.hide {
    display: none
}
.pr{
    position: relative;
}

/*精灵图标*/
[class^='icon_'],[class*=' icon_']{
    background-image:url("../images/sprites.png");
    background-size: 200px 200px;
}

/*头部搜索*/
.top{
    width: 100%;
    height: 45px;
    position: absolute;
    left: 0;
    top: 0;
    border-bottom: 1px solid #e0e0e0;
    background: url("../images/header-bg.png");
    background-size: 1px 44px;
    z-index: 999;
}
.top::before,.top::after{
    content: "";
    position: absolute;
    top: 0;
    padding: 12px 10px;
    width: 40px;
    height: 44px;
    background: url("../images/sprites.png") no-repeat;
    background-size: 200px 200px;
    background-origin:content-box;
    background-clip: content-box;
}
.top::before{
    left: 0;
    background-position: -20px 0;
}
.top::after{
    right: 0;
    background-position: -60px 0;
}
.top form{
    padding: 0 40px;
    width: 100%;
    height: 44px;
}
.top form input{
    width: 100%;
    height: 30px;
    margin-top: 7px;
    border: 1px solid #e0e0e0;
    border-radius: 4px;
    padding-left: 10px;
}
.top h3{
    font-size: 18px;
    text-align: center;
    line-height: 45px;
}

.top .icon_back{
    height: 44px;
    width: 40px;
    background-position: -20px 0;
    display: block;

    padding:12px 10px;
    background-clip: content-box;
    background-origin: content-box;

    position: absolute;
    left: 0;
    top: 0;

}

.top .icon_menu{
    height: 20px;
    width: 20px;
    background-position: -60px 0;
    display: block;

    margin:12px 10px;
    background-clip: content-box;
    background-origin: content-box;

    position: absolute;
    right: 0;
    top: 0;

}